Repository co-DB/coDB, pull requests merged in 2025-07, with the labels that each got.

#10 [QUERY] Create CoSQL language specification docs
  .gitignore
  Cargo.lock
  Cargo.toml
  query/Cargo.toml
  query/grammar.md
  query/src/lib.rs
Labels: documentation, query

#19 [ENGINE] Create docs for files structure
  engine/docs/files_structure.md
  query/docs/grammar.md
Labels: documentation, engine

#23 Create disc_manager (to be renamed in the future) with documentation.
  Cargo.lock
  engine/Cargo.toml
  engine/src/disk_manager.rs
  engine/src/file_manager.rs
  engine/src/lib.rs
Labels: documentation, feature, engine
