Repository co-DB/coDB, pull requests merged in 2025-08, with the labels that each got.

#28 [ENGINE] Update file structure docs
  .vscode/launch.json
  engine/docs/files_structure.md
Labels: documentation, engine, chore

#29 Add `cargo fmt` and `clippy` steps to CI
  .github/workflows/build_and_test.yml
  engine/src/paged_file.rs
  query/src/lexer.rs
  query/src/tokens.rs
Labels: chore

#30 [ENGINE] Implement Catalog
  Cargo.lock
  engine/Cargo.toml
  engine/src/catalog.rs
  engine/src/paged_file.rs
Labels: feature, engine

#35 [QUERY] Add ddl to grammar
  query/docs/grammar.md
Labels: documentation, query

#34 Parser
  query/docs/grammar.md
  query/src/ast.rs
  query/src/lexer.rs
  query/src/lib.rs
  query/src/parser.rs
  query/src/tokens.rs
Labels: feature, query

#43 [ENGINE] Implement Cache
  Cargo.lock
  engine/Cargo.toml
  engine/src/background_worker.rs
  engine/src/cache.rs
  engine/src/files_manager.rs
  engine/src/lib.rs
  engine/src/paged_file.rs
Labels: documentation, feature, engine
